house-prices-advanced-regression-techniques/sample_submission.csv
house-prices-advanced-regression-techniques/test.csv
house-prices-advanced-regression-techniques/train.csv
house-prices-advanced-regression-techniques/data_description.txt
